aiopg==0.15.0
aniso8601==3.0.0
graphene==2.1
graphql-core==2.0
graphql-relay==0.4.5
inflection==0.3.1
iso8601==0.1.12
peewee==3.8.0
peewee-async==0.6.0a0
promise==2.1
psycopg2==2.7.4
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.4